[*.{cs,vb}]

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public:suggestion

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = none

# CA1307: Specify StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# IDE0044: Add readonly modifier
dotnet_style_readonly_field = true:none

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none
